
body {
    background-color: #cab8a9;
    font-family: courier new;
}
input {
    background-color: rgba(170, 182, 146, 0.712);
}
h1 {
    text-shadow: 3px 3px 3px slategray;
}
select {
    background-color: rgba(170, 182, 146, 0.712);
}
#wrap {
  width: 20%;
  margin: auto;
  overflow: hidden;
  padding: 15px;
}
